 //* Cytonn Technologies
 //*
 //* @author: Hashim Amani <hamani@cytonn.com>
 //*
 // * Project: CSS3/SASS.


//login page styling

.login-page {
  width: $l_width;
  padding: $l_padding;
  margin: $l_margin;
}


